body {
    background-color: #282F3F;
}

html, body {
    margin: 0;
    height: 100%;
}

.background-div {
    background-color: #282F3FE0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.navbar {
    background-color: #040B26;
    color: #FFFFFF;
}

.modal-bg {
    background-color: #282F3F;
    color: #FFFFFF;
}

.bg {
    color: #FFFFFF;
}

.title {
    padding-top: 20px;
    padding-bottom: 15px;
}

myModal.in {
    z-index: 999999;
}

pre {
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 15px;
    border: 5px solid rgba(255, 0, 63, 1);
}

.sticky {
    position: sticky;
    top: 10px;
}