body {
    background-color: #282F3F;
}

html, body {
    margin: 0;
    height: 100%;
}

.background-div {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.background-color-trans{
    background-color: #282F3FE0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
}

.navbar {
    background-color: #040B26;
    color: #FFFFFF;
}

.modal-bg {
    background-color: #282F3F;
    color: #FFFFFF;
}

.bg {
    color: #FFFFFF;
}

.title {
    padding-top: 20px;
    padding-bottom: 15px;
}

myModal.in {
    z-index: 999999;
}

.footer {
    background-color: #111111;
    margin-top: auto;
}

pre {
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 15px;
    border: 5px solid rgba(255, 0, 63, 1);
}

.sticky {
    position: sticky;
    top: 10px;
}

.footer-image {
    border-right: 2px solid #FFF;
    border-left: 2px solid #FFF;
    border-radius: 5px;
}