@import "styles/colors";

.backgroundPicture {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: inherit;
}

.backgroundPictureOverlay {
  background-color: $main-bg-color;
  height: inherit;
}

.footerWarper {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
}

.footerPush {
  min-height: 100vh;
}