@import "../../styles/colors";


.contentDiv {
  background-color: $main-bg-color;
  border: solid $contentDivAccent 0px;
  border-radius: 15px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;

  p {
    color: $main-text-color;
    margin: 5px;
  }

  span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
}

.sideBorder {
  border-width: 0px 3px;
}

.topBorder {
  border-width: 3px 0px;
}