@import '/node_modules/bootstrap/scss/bootstrap.scss';
@import "/node_modules/bootstrap-icons/font/bootstrap-icons";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "./styles/colors";
@import "./styles/variables";

@tailwind base;
@tailwind components;
@tailwind utilities;


$theme-colors: (
        "primary": #05A0D6,
        "secondary": $secondary,
        "success": #1DA040,
        "info": $info,
        "warning": $warning,
        "danger": $danger,
        "light": $light,
        "dark": $dark
);

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #2b2b2b;
  color: white;
}

[data-nextjs-scroll-focus-boundary] {
  height: 100%;
  width: 100%;
}

.size-inherit {
  height: inherit;
  width: inherit;
}