.main-font {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.main-html {
  color-scheme: dark;
}

.main-body {
  color: white;
  background: #2c2c2c;
}