$accent-color: #e04e00;
$accent-darker: darken($accent-color, 20%);

$background-color: #2b2b2b;
$modal-darken: #00000020;

:export {
  accentColor: $accent-color;
  accentDarker: $accent-darker;
  backgroundColor: $background-color;
}