@import "colors";

.backgroundDiv {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    min-height: 100vh;
}

.backgroundColorTrans {
    background-color: $main-bg-color;
    min-height: 100vh;
}

.footerWarper {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 100vh;
}

.footerPush {
    min-height: 100vh;
}