$primary-blue: #2880ff;
$cyber-blue: #26C9DDFF;
$main-bg-color: #282F3FE0;
$card-bg: rgba(26, 31, 41, 0.3);


$main-text-color: #FFFFFF;

$contentDivAccent: $cyber-blue;
$contentDivBackground: $main-bg-color;

// Assets
$button-blue: #05A0D6;

$popup-bg: rgba(22, 51, 84, 0.85);